<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Find your room
        </p>
    </header>
    <div class="card-content">
       <div class="content">
           
       </div>
    </div>
</div>